<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>
<html>
    <head>
        <title>Создание первого сайта</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Создание первого сайта</a></h1>
        </div>

        <div>
            <p>published: 31.03.2018, 03:14</p>
            <h2><a href="">Первый блог</a></h2>
            <p>Пока пустой, к сожалению ...</p>
        </div>

        <div>
            <p>published: 31.03.2018, 03:19</p>
            <h2><a href="">Второй блог</a></h2>
            <p>То же самое ... </p>
        </div>
    </body>
</html>
