


<html>
    <head>
        <title>Создание первого сайта</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Создание первого сайта</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


        <div>
            <p>published: 01.04.2018, 08:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Пока еще просто пусто...</p>
        </div>
    </body>
</html>
